<style>
    .custom-btn {
        display: inline-block;
        min-width: 120px;
        height: 40px;
        padding: 0 23px;
        border-radius: 20px;
        font-size: 13px;
        line-height: 38px;
        box-sizing: border-box;
        text-align: center;
        -webkit-transition: background-color .1s linear,border-color .1s linear;
        -moz-transition: background-color .1s linear,border-color .1s linear;
        transition: background-color .1s linear,border-color .1s linear;
        color: #fff;
        border: 1px solid #000;
        background-color: #000;
    }
    .custom-btn:hover {
        background-color: #da3f3a;
        border: 1px solid #da3f3a;
    }
    .nickname-noti {
        font-size: 9pt;
    }
</style>

{{>layout/header}}

<!--헤더 시작-->
<header>
    <!--네비게이션 바-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/images/tistory_icon_black.png" height="30" width="30"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<!--헤더 끝-->

<!--메인 시작-->
<main>
    <div style="position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%); text-align: center;">
        <div style="margin-bottom: 80px;">
            <img src="/images/TISTORY_logo.PNG" width="220px" height="42">
        </div>
        <div class="row">
            <h2>티스토리에서 사용할 닉네임을 정해야합니다.</h2>
            <p id="description">닉네임을 입력하고 시작하기버튼을 누르세요!</p>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="nickname-noti" id="nickname-noti">&nbsp;</p>
            </div>
        </div>
        <form id="sign-up" method="post" action="/user/sign-up" onsubmit="return signUp()">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <input id="nickname" name="nickname" class="form-control form-control-md" type="text" placeholder="닉네임 입력" required maxlength="12">
                </div>
                <div class="col-md-2"><button type="submit" class="custom-btn">시작하기</button></div>
            </div>
        </form>
    </div>
</main>
<!--메인 끝-->

<!--sign-up.js-->
<script src="/js/user/sign-up.js"></script>


{{>layout/footer}}