{{>layout/blog/blog-header}}

<!--summernote api-->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<!--blog css-->
<link href="/css/blog/blog.css" rel="stylesheet">

{{>layout/blog/blog-title}}

<!--사이드바 시작-->
<nav>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-white csm-sidebar-border">

        <div class="blank-100"></div>
        <div>
            <h5 class="text-center"><a class="sidebar-title" href="/{{blog.url}}">{{blog.name}}</a></h5>
        </div>
        <div class="blank-sm"></div>
        <div>
            <ul class="sidebar-ul-none">
                {{#blog.categories}}
                <li class="sidebar-li"><a class="sidebar-text" href="/{{blog.url}}/category/{{id}}">{{name}} <span>({{postCount}})</span></a></li>
                {{/blog.categories}}
            </ul>
        </div>
        <div class="blank-xm"></div>
        <div>
            <ul class="sidebar-ul-none">
                <li><a class="sidebar-text" href="/{{blog.url}}">홈</a></li>
                <li><a class="sidebar-text" href="/">티스토리 메인</a></li>
            </ul>
        </div>
        <div class="blank-xm"></div>

        <div class="text-center visit-count"><span class="visit-count">0</span>/<span class="visit-count color-red">0</span></div>
    </div>
</nav>
<!--사이드바 끝-->

<!--블로그 내용 시작-->
<main style="margin-left: 324px;">
    <div class="container-xxl">

        <!--카테고리 이름-->
        <div class="row"><div class="col-xxl-9 align-self-center main-blank-110 align-self-center"></div></div>
        <div class="row">
            <div class="col-xxl-9 align-self-center "><h5 class="text-center"><span class="blog-main-title">{{category}}</span></h5></div>
        </div>
        <div class="row"><div class="col-xxl-9 align-self-center main-blank-40"></div></div>

        <!--post 목록 시작-->
        <div class="row">
            <div class="col-xxl-9 align-self-center">
                <div class="post-item-container">
                    <!--목록 제일 위 테두리-->
                    <div class="row">
                        <div class="col-xxl-12 align-self-center">
                            <div class="post-item-top-border"></div>
                        </div>
                    </div>
                    <!--post item-->
                    <!--등록된 글이 있을 때-->
                    <div id="post-title-list">

                    </div>
                </div>
            </div>
        </div>
        <!--post 목록 끝-->

        <div id="post-list">

        </div>

        <div style="height: 64px;"></div>

        <!--페이징 버튼-->
        <div class="row">
            <div class="col-xxl-9 align-self-center">
                <ul id="paging-btn" class="pagination justify-content-center">

                </ul>
            </div>
        </div>
    </div>

    <div style="height: 300px;"></div>
</main>

<!--페이징 버튼 끝-->

<!-- 댓글 삭제 Modal -->
<div class="modal fade" id="modal-delete-comment" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">댓글 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-delete-comment-description">댓글을 삭제하려면 비밀번호를 입력하세요.</p>
                <input class="form-control" type="password" id="modal-comment-password" maxlength="12">
                <input type="text" id="delete-comment-id" value="" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" onclick="btnCommentDelete()">댓글 삭제</button>
            </div>
        </div>
    </div>
</div>

<script>
    let isHost = {{blog.isHost}};
    let blogUrl = `{{blog.url}}`;
    let category = `{{category}}`;
</script>
<script src="/js/blog/blog.js"></script>

<!--페이징 처리를 위한 js-->
<script>
    let thisUrl = window.location.href; // 현재 페이지의 url
    let urlArr = thisUrl.split('/');

    let pagingUrl;
    if(category == '전체 글'){
        pagingUrl = `?page=`;
    }else {
        let categoryId = Number(urlArr[urlArr.length - 1]); // category Id
        pagingUrl = `/category/`+categoryId+`?page=`;
    }

    let postCount = {{postCount}};
</script>
<script src="/js/paging.js"></script>

{{>layout/blog/blog-footer}}