<!--헤더 시작-->
<header>
    <!--네비게이션 바-->
    <nav id="ctm-nav-bar" class="navbar fixed-top navbar-expand-lg navbar-light nav-bg">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/images/tistory_icon_black.png" height="30" width="30"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="width: 50px;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/#popu-blog-top" style="font-weight: 900; font-size: 12pt;">인기블로그</a>
                    </li>
                    <li class="nav-item" style="width: 30px;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#latest-post-top" style="font-weight: 900; font-size: 12pt;">최신글</a>
                    </li>
                </ul>
                {{^principal}}
                    <button class="custom-btn" onclick="location.href='/auth/login'">시작하기</button>
                {{/principal}}
                {{#principal}}
                    <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="#" onerror="this.src='/images/kakao_character.png'" width="40" height="40" style="border-radius: 20px;">
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/user/blog">{{principal.user.nickname}}</a></li>
                            <li><p class="dropdown-header" style="font-size: 9pt;">{{principal.user.email}}</p></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header" style="font-size: 9pt;">운영중인 블로그</h6></li>
                            {{#principal.user.blogs}}
                            <li><a class="dropdown-item" href="/{{url}}">{{name}}</a></li>
                            {{/principal.user.blogs}}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-header logout" href="/logout" style="font-size: 9pt; text-decoration: none;">로그아웃</a></li>
                        </ul>
                    </div>
                {{/principal}}
            </div>
        </div>
    </nav>
</header>
<!--헤더 끝-->