.btn-new-blog {
    background-color: #2c3034;
    color: white;
    padding: 10px 36px;
    font-size: 10pt;
    text-decoration: none;
    border-radius: 0;
    font-weight: 100;
}

.btn-new-blog:hover {
    background-color: #495057;
    color: white;
}

.blog-name {
    font-size: 12pt;
    color: #1a1e21;
    text-decoration: none;
}
.blog-name:hover {
    font-size: 12pt;
    color: #1a1e21;
    text-decoration: underline;
}

.blog-url {
    font-size: 9pt;
    color: #5a5a5a;
    text-decoration: none;
}
.blog-url:hover {
    font-size: 9pt;
    color: #5a5a5a;
    text-decoration: underline;
}
.btn-full-blog {
    background-color: #5a5a5a;
    color: white;
    padding: 10px 36px;
    font-size: 10pt;
    text-decoration: none;
    border-radius: 0;
    font-weight: 100;
}
.btn-full-blog:hover {
    background-color: #5a5a5a;
    color: white;
}