{{>layout/header}}
{{>layout/header-nav}}

<style>
    body {
        background-color: #f3f5f7;
    }
    a {
        text-decoration: none;
    }
    .info {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .side-menu-list {
        padding: 10px 15px;
        border-bottom: #f3f5f7 solid 1px;
    }
    .side-menu-list-last {
        padding: 10px 15px;
    }
    .orange {
        color: #FF5010;
        text-decoration: none;
    }
    .orange:hover {
        color: #FF5010;
    }
    .side-menu-title {
        font-size: 12pt;
    }
    .side-menu-content {
        padding-top: 2px;
        padding-left: 1px;
        font-size: 10pt;
        color: #5a5a5a;
    }
    .title-dec {
        text-decoration: none;
    }
    .title-dec:hover {
        background-color: #E3E5E7;
    }

</style>

<div class="container">
    <div class="row justify-content-center" style="margin: 48px 54px;">
        <!--사이드 메뉴 시작-->
        <div class="col-md-3" style="width: 250px;">
            <div style="margin: 0 10px;">
                <!--프로필 표시-->
                <div class="row justify-content-center align-content-center" style="width: 100%; height: 230px; background-color: white; border: 1px solid #DDDDDD;">
                    <img src="#" onerror="this.src='/images/kakao_character.png'" style="border-radius: 50%; width: 124px; height: 100px;">
                    <p class="info" style="margin-top: 10px;">닉네임</p>
                    <p class="info" style="font-size: 9pt; color: #5a5a5a">이메일</p>
                </div>
                <!--프로필 표시 끝-->
                <!--사이드 메뉴-->
                <div class="row" style="width: 100%; background-color: white; border: 1px solid #DDDDDD; margin-top: 6px;">
                    <a class="orange side-menu-list title-dec" href="/user/blog">
                        <div class="row">
                            <div class="col-2 side-menu-title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                                </svg>
                            </div>
                            <div class="col-8 side-menu-title">
                                내 블로그
                            </div>
                        </div>
                    </a>
                    <div class="row side-menu-list-last">
                        <div class="row">
                            <div class="col-2 side-menu-title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                </svg>
                            </div>
                            <div class="col-10 side-menu-title">내 계정</div>
                        </div>
                        <a href="#" >
                            <div class="row side-menu-content">
                                <div class="col-2"></div>
                                <div class="col-10">계정 정보</div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--사이드 메뉴 끝-->
            </div>
        </div>
        <!--사이드 메뉴 끝-->
        <!--content 시작-->
        <div class="col-md-9">
            <div style="margin: 0 10px;">