{{>layout/user/user-top}}

<style>
    .btn-new-blog {
        background-color: #2c3034;
        color: white;
        padding: 10px 36px;
        font-size: 10pt;
        text-decoration: none;
        border-radius: 0;
        font-weight: 100;
    }

    .btn-new-blog:hover {
        background-color: #495057;
        color: white;
    }

    .blog-name {
        font-size: 12pt;
        color: #1a1e21;
        text-decoration: none;
    }
    .blog-name:hover {
        font-size: 12pt;
        color: #1a1e21;
        text-decoration: underline;
    }

    .blog-url {
        font-size: 9pt;
        color: #5a5a5a;
        text-decoration: none;
    }
    .blog-url:hover {
        font-size: 9pt;
        color: #5a5a5a;
        text-decoration: underline;
    }
    .btn-full-blog {
        background-color: #5a5a5a;
        color: white;
        padding: 10px 36px;
        font-size: 10pt;
        text-decoration: none;
        border-radius: 0;
        font-weight: 100;
    }
    .btn-full-blog:hover {
        background-color: #5a5a5a;
        color: white;
    }
</style>

<div class="row" style="border-bottom: 1px solid #DDDDDD; width: 100%;">
    <h5>운영 중인 블로그</h5>
</div>
{{#principal.user.blogs}}
<div class="row align-content-center" style="width: 100%; height: 112px; background-color: white; border: 1px solid #DDDDDD; border-top: none;">
    <div class="col-2">
        <img src="" onerror="this.src='/images/tistory_blog_img.jfif'" style="width: 80px; height: 80px; margin-left: 18px;"/>
    </div>
    <div class="col-10" style="margin-top: 14px;">
        <div>
            <a class="blog-name" href="/{{url}}/manage/post">{{name}}</a>
        </div>
        <div>
            <a class="blog-url" href="/{{url}}">{{url}} ◇</a>
        </div>
    </div>
</div>
{{/principal.user.blogs}}
{{^principal.user.blogs}}
    <div class="row align-content-center justify-content-center" style="width: 100%; height: 112px; background-color: white; border: 1px solid #DDDDDD; border-top: none;">
        <div class="col-5" style="padding-left: 20px; padding-top: 10px;">
            <h5 style="color: #1a1e21;">현재 개설된 블로그가 없습니다.</h5>
            <p style="font-size: 9pt;">아래의 버튼을 클릭하고 새 블로그를 만드세요!</p>
        </div>
    </div>
{{/principal.user.blogs}}
<br>
<div class="row">
    <h5>운영·개설 현황</h5>
</div>
<div class="row align-content-center justify-content-center" style="width: 100%; height: 100px; background-color: white; border: 1px solid #DDDDDD;">
    <div class="col-11">
    {{#countDto.canCreate}}
        <h6 style="color: #1a1e21;"><span style="color: #FF5010;">{{countDto.count}}개</span>의 블로그를 더 운영할 수 있습니다.</h6>
    {{/countDto.canCreate}}
    {{^countDto.canCreate}}
        <h6 style="color: #1a1e21;"><span style="color: #FF5010;">최대 수</span>의 블로그를 운영하고 있습니다.</h6>
    {{/countDto.canCreate}}
    </div>
</div>

<div class="row justify-content-end align-content-center" style="width: 100%; height: 70px; background-color: #FAFBFC; border: 1px solid #DDDDDD; border-top: none;">
    <div class="col-3">
        {{#countDto.canCreate}}
        <button class="btn btn-new-blog" onclick="location.href='/user/blog/make'">새 블로그 만들기</button>
        {{/countDto.canCreate}}
        {{^countDto.canCreate}}
            <button class="btn btn-full-blog">블로그 수 가득참</button>
        {{/countDto.canCreate}}
    </div>
</div>

{{>layout/user/user-bottom}}