{{>layout/header}}
<link href="/css/user/user.css" rel="stylesheet">
<link href="/css/user/user-blog-make.css" rel="stylesheet">
{{>layout/title}}
{{>layout/header-nav}}
{{>layout/user/user-top}}


<div class="row">
    <div class="col-12">
        <h5>새 블로그 만들기</h5>
    </div>
</div>
<form method="post" action="/user/blog/make">
<div class="row" style="background-color: white; width: 100%; padding: 25px; border: 1px solid #DDDDDD">
    <div>
        <label class="form-label" for="name" style="font-size: 11pt;">블로그 이름</label>
        <input id="name" name="name" class="form-control form-control-md" type="text" required maxlength="20">
        <p style="font-size: 9pt;">&nbsp</p>
        <label class="form-label" for="url" style="font-size: 11pt;">블로그 주소</label>
        <div class="row g-3 align-items-center">
            <div class="col-10">
                <input id="url" name="url" class="form-control form-control-md"
                       placeholder="최소 4자 ~ 최대 20자의 영문 소문자, 숫자, 하이픈(-)으로 입력해 주세요." type="text" required maxlength="20">
            </div>
            <div class="col-auto">
                .tistory.com
            </div>
        </div>
        <p style="font-size: 9pt;">&nbsp</p>
    </div>
</div>
<div class="row justify-content-end align-content-center" style="width: 100%; height: 70px; background-color: #FAFBFC; border: 1px solid #DDDDDD; border-top: none;">
    <div class="col-3">
        <button class="btn btn-new-blog" type="submit">개설하기</button>
    </div>
</div>
</form>

{{>layout/user/user-bottom}}
{{>layout/footer}}