.post-title {
    margin: 18px auto 17px;
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.post-title .textarea_tit {
    display: block;
    width: 100%;
    height: 56px;
    border: none;
    font-size: 30px;
    color: #202020;
    font-family: Noto Sans DemiLight,AppleSDGothicNeo-Regular,Malgun Gothic,dotum,sans-serif;
    resize: none;
    outline: 0 none;
    line-height: 40px;
    overflow: hidden;
    letter-spacing: -.4px;
}
.btn-write {
    display: inline-block;
    min-width: 80px;
    height: 40px;
    padding: 0 23px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 38px;
    box-sizing: border-box;
    text-align: center;
    -webkit-transition: background-color .1s linear,border-color .1s linear;
    -moz-transition: background-color .1s linear,border-color .1s linear;
    transition: background-color .1s linear,border-color .1s linear;
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    margin-top: 12px;
    margin-bottom: 50px;
}

.btn-write:hover {
    background-color: #da3f3a;
    border: 1px solid #da3f3a;
}